[Unit]
Description=Logs sectors written to disk before a shutdown.
Conflicts=reboot.target
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/usr/bin/dtlog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
